:root {
    --main-color: rgb(218,57,73);
    --scroll-thumb-hover: rgba(218, 57, 73, 0.829);
    --manager: rgba(190,2,2, 0.644);
    --moderator: rgba(153,45,34, 0.644);
    --developer: rgba(161,31,198, 0.644);
    --helper: rgba(255, 170, 1, 0.644);
    --modal-close: rgb(168, 42, 55);
    --mediar: rgb(255, 140, 140);
}

/*
 * Scrollbar Styling
 */
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track {
    background: rgba(40, 45, 46, 0.788);
}
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover);
}



/*
 *
 */
.server-logo {
    height: 128px;
}

.rounded-logo {
    border-radius: 20px;
}


/*
 * Team
 */

.team-body {
    height: 337px;
    padding-bottom: 70px;
    margin-top: 100px
}
.team-user {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    display: inline-block;
}
.team-user p {
    color: rgb(255,255,255);
    margin-top: 6px;
    margin-bottom: 0px;
}



/*
 * Modal
 */

.modal-body h6 {
    color: rgb(223,224,225);
    margin-top: 30px;
}
.modal-body p {
    color: rgb(199,200,201);
    font-size: 13px;
}
.modal-header {
    border-color: var(--main-color);
}
.modal-content {
    background-color: #2C2F33 !important;
}



/*
 * Header & Footer
 */

.ateams-header {
    height: 100vh;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
.ateams-footer {
    margin-top: 100px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
.media-ico {
    margin-bottom: 15px;
}
@media only screen and (max-width: 773px) {
    .floating-logo-right img {
        height: 65% !important;
        width: 65% !important;
    }
}


/*
 *  Buttons styling
 */

.g-btn-light {
    text-decoration: none;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.30em;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--main-color);
    transition: all 0.3s;
    text-decoration: none;
}

.g-btn-light:hover{
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s;
    text-decoration: none;
}

.g-btn-light-contants {
    text-decoration: none;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.30em;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--main-color);
    transition: all 0.3s;
    text-decoration: none;
    opacity: 1.0;
}

.g-btn-light-contants:hover{
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s;
    text-decoration: none;
    opacity: 0.7;
}

.main-style {
    border-radius: 11px;
    border-width: 3px;
    border-color: var(--main-color);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
}


/*
 *  Roles
 */

.role-manager {
    background-color: var(--manager);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 6px;
    margin-left: 6px;
}

.role-moderator {
    background-color: var(--moderator);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 6px;
    margin-left: 6px;
}

.role-developer {
    background-color: var(--developer);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 6px;
    margin-left: 6px;
}

.role-helper {
    background-color: var(--helper);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 6px;
    margin-left: 6px;
}



/*
 * OTHERS
 */

body {
    overflow-x: hidden;
    background: rgb(4,14,16);
    width: 100%;
}

.mediar {
    color: rgb(210,210,210);
    transition: all 0.5s;
    font-size:14px
}

.mediar:hover {
    color: var(--mediar);
    transition: all 0.5s;
}

.kontakty {
    opacity: 1.0;
    transition: all 0.2s;
}

.kontakty:hover {
    opacity: 0.7;
    transition: all 0.2s;
}

html {
    scroll-behavior: smooth;
}

.paddingeruv {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}

.desc {
    margin-top: 8px;
    padding-bottom: 16px;
    color: rgba(255, 255, 255, 0.644);
    font-size: 1rem;
}
.heading {
    color: rgb(234,234,234);
    margin-top: 36px;
    padding-bottom: 2px;
    font-size: 2.5rem;
}