body {
    overflow-x: hidden;
}

.mediar {
    color: rgb(210,210,210);
    transition: all 0.2s;
}

.mediar:hover {
    color: rgba(210, 210, 210, 0.623);
    transition: all 0.2s;
}

.kontakty {
    opacity: 1.0;
    transition: all 0.2s;
}

.kontakty:hover {
    opacity: 0.7;
    transition: all 0.2s;
}

.g-btn-light {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.30em;
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(218,57,73);
    transition: all 0.3s;
    text-decoration: none;
}

.g-btn-light:hover{
    background-color: rgb(218,57,73);
    color: white;
    transition: all 0.3s;
    text-decoration: none;
}

.g-btn-light-contants {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.30em;
    box-sizing: border-box;
    background-color: transparent;
    color: rgb(218,57,73);
    transition: all 0.3s;
    text-decoration: none;
    opacity: 1.0;
}

.g-btn-light-contants:hover{
    background-color: rgb(218,57,73);
    color: white;
    transition: all 0.3s;
    text-decoration: none;
    opacity: 0.7;
}

html {
  scroll-behavior: smooth;
}


.paddingeruv {
    padding-top: 30px;
}


@media only screen and (max-width: 773px) {
    .row {
        display: block !important;
        text-align: center;
    }

    #oh-nooo{
        width: 100% !important;
    }
}

@media only screen and (max-width: 1002px) {
    #discorder {
        margin-right: 10px !important;
    }
}

.badge-pill {
    color: rgb(255, 228, 228) !important;
}